


body {
    display: flex;
    flex-direction: column;
   

}

.header{
    background-color: #1f2937;
    display: flex;
    padding: 100px;
}




.logo{ 
    color: #f9faf8;
    font-size: 24px;
}

button { 
    color: #3882f6;
}

.content {

    color: #1f2937;
    padding: 50px;
    display: flex;  
}  

.title {
    display:flex;
    align-self: center;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
}
.text {
    display: flex;
    flex-direction:
    align-items: center;
}

/*
.image-container {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
   display: flex;
    justify-content: center;
    align-items: center;
}
*/

.image {
    width: 3in;
    height: 2in;
}

.text {

}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.action-banner {
    padding: 100px;
}

.sub-text{

}

.footer {
    background-color: #1f2937;
    padding: 50px;

}


